.Books {
    background-color: #1d1e22;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-wrap: wrap;
    color: #d4d4dc;
    /* background-color: #d4d4dc; */

}
.serachBook{
    position: absolute;
    right: 0;
    height: 5%;
    width: 15%;
    font-size: 1.5rem;
    background: transparent;
    outline: none;
    border: 2px solid white;
}
.searchBookIoncs{
    width: 40px;
    position: absolute;
    top: 14.5%;
    right: 0;
}
.bookCards .booksCard {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
    width: 490px;
    border-radius: 20px;
    position: relative;
    height: 200px;
    background-color: #393f4d;
}

.bookCards {
    background-color: #1d1e22;
    position: relative;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 80dvh;
    margin: 10px;
    flex-direction: row;
}
.booksCard:hover {
    box-shadow: 0px 0px 5px 2px white;
}

.bookCards .bookImg {
    position: absolute;
    height: 90%;
    top: 10px;
    left: 15px;
}
.adminDetailPara{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    right: 10px;
    width: 20%;
    align-content: flex-start;
    justify-content: flex-start;
}
.adminPara1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #1d1e22;
    background-color: #feda6a;
    /* background-color: #d2c5a6b3; */
    right: 10px;
    padding: 10px;
    bottom: 30%;
    position: absolute;
    width: 40%;

}

.bookCards .readBookSubmit {
    position: absolute;
    background-color: #feda6a;
    border: none;
    width: 20%;
    right: 25%;
    bottom: 10px;
    height: 15%;
}

.readBookDelete {
    border: none;
    background-color: #feda6a;
    position: absolute;
    width: 15%;
    right: 5%;
    bottom: 10px;
    height: 15%;
}